/* Utility */

/* Float */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Text Alignment */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}